{% extends 'core/base.html' %}

{% block title %}Success | {% endblock %}

{% block content %}
<h1 class="title is-italic has-text-centered">Dziękujemy za zamówienie</h1>
<br>
<br>
<div class="box has-text-centered">
    <p>Twoje zamówienie zostało pomyślnie zarejestrowane w naszym systemie. </p>
    <br>
    <p>Na wskazany w formularzu adres email zostało
        wysłane potwierdzenie złożenia zamówienia oraz dane niezbędne do wykonania płatności. Realizacja zamówienia
        rozpocznie się niezwłocznie po zaksięgowaniu wpłaty. W przypadku pytań lub wątpliwości zachęcamy do skorzystania
        z formularza kontaktowego w zakładce "kontakt". </p>
</div>
<br>
<br>
{% endblock %}